.NavBar{
    background-color: transparent;
    height: 75px;
}
.NavBarLink{
    text-decoration: none;
    color: #F5F5F5;
    padding: 10px;
}
.NavBarLink:hover{
    text-align: center;
    color: #F05454;
    border-bottom: #F05454 solid 2px;

}

/* Navbar-end */

.homeNftImg{
    margin-top: 3%;
    border-radius: 30px;
}

/* HomeTwoSection-end */

.HomeOneSectionh1{
    margin-top: 10%;
    color: #F5F5F5;
    font-size: 5rem;
}

.HomeOneSectionp1{
    color: #30475E;
    font-size: 2rem;
}

.HomeOneSecitonButton{
    margin-top: 10%;
    border: none;
    border-radius: 30px;
    background-color: #F05454;
    color: #F5F5F5;
    padding: 10px;
    padding-left: 25px;
    padding-right: 20px;
}

.HomeOneSecitonButton:hover{
    background-color: #30475E;
}

/* HomeOneSection-end */

.RegisterFormConteiner{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}

.RegisterFormButton{
    border: none;
    padding: 10px;
width: 100%;
    color: #F5F5F5;
    background-color: #F05454;
    border-radius: 10px;
}

.RegisterFormButton:hover{
    background-color: #30475E;
}
